name: Update IDL
on:
  schedule:
    # every 5 minutes
    - cron:  '*/5 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        program: [
          #circuit_breaker,
          #data_credits,
          #fanout,
          helium_entity_manager,
          #helium_sub_daos,
          hexboosting
          #lazy_distributor,
          #lazy_transactions,
          #mobile_entity_manager,
          #no_emit,
          #price_oracle,
          #rewards_oracle,
          #treasury_management,
          #voter_stake_registry
        ]
      max-parallel: 1

    steps:
      - uses: actions/checkout@v3

      # the script replaces the json file with a newly downloaded one
      # and updates the version in Cargo.toml
      - name: Update IDLs
        id: update-idls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: .github/scripts/idl-update.sh ${{ matrix.program }}

      # creates a pull request with the updated idl
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: update idl
          title: Update IDLs
          branch: update-idls
          token: ${{ secrets.WORKFLOW_TOKEN }}

